<%- include("partials/header") %>
<%- include("partials/navbar") %>
  <div class="error-page">
    <h1 class="error-page-title">404</h1>
    <p class="error-page-p">The page you were looking for doesn't exist.</p>
    <p class="error-page-p">Go to <a href="/">Home</a></p>
  </div>
<%- include("partials/footer") %>