.show-balance {
  background-color: var(--clr-white);
  padding: 4px;
  border-radius: 5px;
  font-size: 18px;
}

.atm-input-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 24px;
  justify-content: center;
}

.atm-input-group label {
  font-size: 18px;
}

.atm-input-group input {
  color: var(--clr-black);
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #D8DBEB;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 10px;
}

.atm-input-group input:focus,
.atm-input-group input:hover {
  outline: 2px solid #3D94F6;
}

.atm-btn {
  font-size: 16px;
  margin-top: 10px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  text-align: center;
}

.atm-btn:hover,
.atm-btn:focus-visible {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.atm-btn:hover:after,
.atm-btn:focus-visible:after {
  opacity: 1;
  right: 10px;
}

.atm-btn:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 36.5px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}


/* Transaction Page */

.transactions-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0% 10% 5%;
}

.transactions-table-section {
  margin-top: 20px;
  padding: 10px 5px;
}

.no-transactions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goto-profile-link {
  color: #2980b9;
  text-decoration: none;
}

.goto-profile-link:hover,
.goto-profile-link:focus {
  color: var(--primary-color);
}

.transactions-table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.transactions-table,
.transactions-table th,
.transactions-table td {
  border: 1px solid #bababa;
  border-collapse: collapse;
  text-align: center;
}

.transactions-table th,
.transactions-table td {
  padding: 8px;
}

.transactions-table th {
  background-color: var(--primary-color);
  color: var(--clr-white);
}

.transactions-table td {
  background-color: var(--clr-white);
}

.credit-amt {
  color: green;
}

.debit-amt {
  color: red;
}

.transactions-go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  font-size: 20px;
}

.goto-profile-link:hover,
.goto-profile-link:focus {
  color: var(--primary-color);
}

.goto-profile-link span {
  font-weight: bold;
}