.profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0% 10% 5%;
}

.profile-title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 10px;
}

.profile-title-section h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.profile-section {
  background-color: #f2f3f4;
  padding: 10px 8px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 2px;
}

.profile-name {
  padding: 5px 3px;
}

.profile-name h4 {
  font-size: 1.6rem;
  font-family: 'Fredoka One', cursive;
  font-weight: 500;
}

.profile-details {
  margin-top: 10px;
}

.personal-details {
  display: flex;
  justify-content: space-between;
}

.account-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-detail-group {
  display: flex;
  margin: 5px;
  margin-right: 20px;
  min-width: 150px;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.profile-detail-label {
  margin-right: 12px;
  font-weight: 500;
}

.profile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-menu-btn a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.profile-menu-btn {
  font-size: 20px;
  margin: 10px;
  width: 155px;
  height: 40px;
  color: #fff;
  padding: 7px 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: var(--primary-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-menu-btn:hover:after {
  width: 100%;
  left: 0;
}

.profile-menu-btn:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
  background-color: #3a86ff;
  right: 0;
}

.profile-menu-btn:active {
  top: 2px;
}

/* Edit Profile Page */
.edit-profile-label-container {
  width: 165px;
  display: flex;
  align-items: center;
}


/* Media Query for Smartphones */

@media (max-width: 768px) {
  .personal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}